doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="initial-scale=1.0", width="device-width")
	title WebGL Testing
	body
		div(id="shader-fs" style="visibility:hidden") void main(void) { gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0); }
		div(id="shader-vs" style="visibility:hidden") attribute vec3 aVertexPosition; void main(void) { gl_Position = vec4(aVertexPosition, 1.0); }
		h1 WebGL
		canvas(id="gl", width="1024px", height="768px")
		img(src=require("./crate.png") width="100")